@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');

/* {box-shadow: inset 0 0 1px 0 rgba(0,0,0,.3); background-color: rgba(0,0,0,.03);} */

/* Helpers */
.pb-40 {
    padding-bottom: 40px;
}
/* End */

header {
    background-color: #D9273A;
    height: 100px;
    text-align: center;
    vertical-align: middle;
}

body {
    margin: 0;
}
.bg-home-1 {
    background-image: url('../img/wood-home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 200px;

}
.bg-home-2 {
    background-image: url('../img/textura-madera.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box-img img {
    max-width: 100%;
    width: 100%;
}
.box-img .pack {
    width: 90%;
}
.box-img .logo {
    width: 65%;
    margin-top: 90px;
}
.boxes-home {
    margin-top: -100px;
}
.box-link {
    cursor: pointer;
    display: block;
}
.box-link:hover {
    text-decoration: none;
}
.box-title {
    background-color: #D9273A;
    color: #fff;
    text-align: center;
    padding: 15px;
}
.box-link h2 {
    margin: 0;
    font-family: 'Arvo';
    font-weight: 400;
}

.mercado-paula {
    padding: 100px 0;
}
.mercado-paula-logo img {
    border: 10px solid #1E6030;
    border-radius: 100%;
}
.title {
    font-size: 48px;
    font-family: 'Arvo';
    font-weight: 400;
}
.bajada {
    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto Slab';
    font-weight: 400;
    padding-top: 20px;
}
.btn-see-more {
    display: inline-block;
    background-color: #D9273A;
    padding: 10px 50px;;
    color: #fff;
    font-size: 18px;
}
.btn-see-more:hover {
    text-decoration: none;
    opacity: .8;
    color: #fff;  
}
.sidebar {
    margin-top: 100px;
}
.shadow {
    opacity: 0.43;
    background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, #000000 75%);
    border: 1px solid #979797;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}
.cervezas-home {
    background-image: url('../img/cervezas.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 40px;
}
.cervezas-home .title {
    color: #fff;
    padding: 218px 15px 15px;
    position: relative;
    z-index: 3;
}
.fb-page {
    padding-bottom: 20px;
}
/* Quiénes Somos */
.bg-home-2.quienes-somos {
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.quienes-somos .quienes-somos-1 {
    background-image: url('../img/foto-1.png');
    background-position: right.quienes-somos .quienes-somos-1;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    height: 100%;
    width: 51%;
    position: absolute;
    top: 0;
    right: 50%;
}

.quienes-somos .quienes-somos-2 {
    background-image: url('../img/foto-2.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    height: 101%;
    width: 51%;
    position: absolute;
    top: 0;
    left: 50%;
}
.quienes-somos-content {
    padding: 50px;
}
.quienes-somos-content h2 {
    font-size: 30px;
    line-height: 49px;
    font-family: 'Arvo'
}
.quienes-somos-content .bajada {
    padding-bottom: 40px;
}
.quienes-somos-content .box-img {
    margin-bottom: 40px;
}
.bg-3 {
    background-image: url('../img/foto-fondo.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
}

.bg-3 .quienes-somos-avatar  img {
    border-radius: 100%;
    border: 10px solid #D9273A;
    margin-bottom: 40px;
    width: 65%;
}
.bg-3 .title {
    font-size: 40px;
    color: #fff;
    font-family: 'Arvo';
    padding: 50px 0;
}
.bg-3 .subtitle {
    font-family: 'Arvo';
    font-size: 30px;
    line-height: 36px;
    color: #fff;
}
.bg-3 .bajada {
    font-family: 'Roboto Slab';
    color: #fff;
    font-size: 20px;
    padding-bottom: 60px;
    padding: 0 10px;
}

/* Jerky */

.bg-home-2.jerky {
    position: relative;
}
.jerky .jerky-bg {
    background-image: url('../img/principal.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    height: 100%;
    width: 51%;
    position: absolute;
    top: 0;
    right: 50%;
}
.jerky .box-img.ornamento {
    display: none;
}
.jerky .box-img .img-ornamento {
    width: 30%;
}

.bg-4 {
    background-image: url('../img/bg-fire.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
}
.bg-4 .box-img.border {
    border: 1px solid  #E6E6E6;
}

.bg-4 .title {
    color: #fff;
    font-size: 40px; 
    line-height: 49px;
    font-family: 'Arvo';
    font-weight: 400;
    padding-bottom: 50px;
}
.bg-4 .receta {
    background-color: #E6E6E6;   
    padding: 15px;
    min-height: 200px;
}

.bg-4 .subtitle {
    font-family: 'Arvo';
    font-size: 12px;
    line-height: 21px;
    color: #272727;
}
.bg-4 .bajada {
    font-family: 'Roboto Slab';
    color: #272727;
    font-size: 12px;
    line-height: 17px;
    min-height: 100px;
}
.bg-4 .receta .box-link {
    margin-top: 30px;
   
}
.bg-4 .receta a {
    display: inline-block;
    background-color: #171719;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    border:1px solid #171719;
    font-family: 'Arvo';
}
.bg-4 .receta a:hover {
    background-color: #E6E6E6;
    color: #171719;
    text-decoration: none;
}
.box-numbers, .box-numbers.dark {
    margin-top: 50px;
    text-align: center;
    float: right;
    padding-bottom: 70px;
}
.number, .box-numbers.dark .number {
    border: 4px solid #fff; 
    color: #fff;
    margin-left: 15px;
    display: inline-block;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 24px;
}
.box-numbers.dark .number {
    border: 4px solid #171719;; 
    color: ##171719;;
    margin-left: 15px;
    display: inline-block;
    font-family: 'Arvo';
    font-weight: 400;
    font-size: 24px;
}
.number a {
    display: inline-block;
    padding: 10px 22px;;
    color: #fff;
    outline: none;
}
.box-numbers.dark .number a {
    color: #171719;
}
.number:hover {
    text-decoration: none;
    background-color: #fff;
}
.number:hover a {
    color: #171719;
}
.number:hover a:hover {
    text-decoration: none;
}

/* Modal receta */
#modal-receta, #modal-prensa {
    padding: 50px;
    padding-top: 50px;
    width: 50%;
    position: relative;
    padding-bottom: 200px;
}
.box-ico-share {
    position: absolute;
    background-image: url(../img/ico-share.png);
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    right:50px ;
    top: 20px;
}
.img {
    background-color: #d8d8d8;
    height: 250px;
}
#modal-receta .title, #modal-prensa .title {
    padding-bottom: 40px;
    font-size: 40px; 
    padding-top: 70px;
}
#modal-receta .subtitle, #modal-prensa .subtitle {
    font-size: 24px;
    padding-top: 40px;
    padding-left: 15px;
    font-family: 'Roboto Slab';
}
#modal-receta .bajada, #modal-prensa .bajada {
    padding: 15px;
}
#modal-receta .lista-ingredientes {
    list-style: none;
    padding: 15px;
    font-size: 20px;
    font-family: 'Roboto Slab';
    padding-bottom: 50px;
}

#modal-receta .next, #modal-prensa .next  {
    position: absolute;
    right: 20px;
    bottom: 50px;
    text-align: right;
    padding-top: 60px;
    font-size: 24px;
}
#modal-receta .next a, #modal-prensa .next a  {
    background-image: url('../img/ico-next.png');
    padding-right: 50px;
    background-repeat: no-repeat;
    background-position: 90%;
    color: #171719;
    font-family: 'Arvo';
    transition: all ease-in-out .3s;
}
#modal-receta .next a:hover, #modal-prensa .next a:hover {
    text-decoration: none;
    background-position: 100%;
    
}
.fancybox-close-small {
    display: none;
}
/* Prensa */
.bg-4.prensa {
    background-image: url('../img/fondo.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px 0;
}
.bg-4.prensa .box-numbers , .bg-home-2.prensa .box-numbers.dark  {
    display: none;
}
.bg-4.prensa .receta {
    background-color: #272727;;   
    padding: 15px;
    min-height: 200px;
}
.bg-home-2.prensa {
    padding-bottom: 100px;
}
.bg-home-2.prensa .title {
    padding: 40px 0 15px;
    border-bottom: 8px solid #272727;
    margin-bottom: 30px;
}
.bg-home-2.prensa .row {
    padding-bottom: 30px;
}
.bg-4.prensa .subtitle {
    color:#B6B5B5;
    font-size: 18px;
    padding-top: 30px;
}
.bg-4.prensa .bajada {
    color: #B6B5B5;
    font-size: 12px;
}
.bg-4.prensa .receta .box-link a  {
    background-color: #D8D8D8;
    color: #171719;
    border: 1px solid transparent;
}
.bg-4.prensa .receta .box-link a:hover {
    color: #d8d8d8;
    background-color: #171719;
    border: 1px solid #d8d8d8;
}

/* Contacto */
.bg-5 {   
    background-image: url('../img/fondo.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    position: relative;
}
.title.contacto {
    padding: 30px 0;
    padding-top: 60px;
    color: #fff;
}
.bg-toro {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
}
.bg-toro img {
    width: 50%;
}
.box-img.banner-tienda img {
    height: 200px;
}
.box-img.logo img {
    width: 60%;
    margin-top: 50px;
}
.title-follow {
    font-size: 30px;
    color: #B6B5B5;
    font-family: 'Arvo';
    margin-bottom: 20px;
}

.box-img.logo a img {
    width: 100%;
    margin-top: 20px;
}
.bg-green {
    background-color: #1E6030;
    padding: 50px 0;
    font-family: 'Arvo';
    font-size: 24px;
    color: #fff;
}
.bg-5 form input {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    padding-left: 15px;
    font-family: 'Arvo';
    font-size: 18px;
}
.bg-5 form textarea {
    margin-top: 20px;
    width: 100%;
    padding-left: 15px;
    height: 150px;
    padding-top: 14px;
    font-family: 'Arvo';
    font-size: 18px;
}
.bg-5 form .btn-send {
    background-color: #D9273A;
    color: #fff;
    width: 100%;
    border: transparent;
}
.content-follow a {
    margin-right: 10px;
    outline: 0;

}
.content-follow a:hover {
    text-decoration: none;
}
/* Tienda */
.bg-red {
    background-color: #D9273A;
    padding: 50px 0;
    font-family: 'Arvo';
    font-size: 24px;
    color: #fff;
}
.bg-home-2.prensa.tienda {
    padding-bottom: 0 !important;
}
.banner-tienda {
    background-image: url('../img/fondo.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
#map {
    height: 400px;
    width: 100%;
}
/* Footer */

footer {
    background: #171719;
    color: #B6B5B5;
    font-family: 'Arvo';
    font-size: 16px;
    line-height: 18px;
    padding: 30px;
}

footer p {
    margin: 0;
}
footer a {
    display: inline-block;
}
footer a:hover {
    text-decoration: none;
} 
footer a:first-child {
    margin-right: 20px;
}







@media screen and ( max-width:991px) {
    .jerky .jerky-bg {
        position: relative;
        height: 360px;
        right: 0;
        width: 100%;
    }
    .bg-4 .bajada {
        min-height: 150px;
    }
    #modal-receta, #modal-prensa {
        padding: 50px;
        width: 90%;
    }
    .bg-toro {
        display: none;
    }
}

@media screen and ( max-width:767px) {
    .bg-home-2 {
        padding-top: 20px;
    }
    .boxes-home {
        margin-top: 0;
        margin: 20px 0;
    }
    .box-link {
        margin: 20px 0;
    }
    .box-title h2 {
        font-size: 16px;
        line-height: 20px;
    }
    .mercado-paula {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .mercado-paula-logo {
        text-align: center;
    }
    .mercado-paula-logo img {
        width: 50%;
    }
    .title {
        font-size: 30px;
        padding-top: 30px;
    }
    .mercado-paula .bajada {
        font-size: 16px;
        line-height: 26px;
    }
    .box-btn {
        text-align: center;
    }
    .cervezas-home {
        margin-top: 70px;
    }
    .sidebar {
        margin-top: 0;
    }
    .quienes-somos .quienes-somos-1 {
        position: relative;
        height: 367px;
        right: 0;
        width: 100%;
        background-position: top;
    }
    .quienes-somos .quienes-somos-2 {
        position: relative;
        height: 360px;
        width: 100%;
        left: 0;
        background-position: right;
    }
    .quienes-somos-content {
        padding: 50px 0;
    }
    .quienes-somos-content .bajada {
        font-size: 16px;
        line-height: 26px;
    }

    .quienes-somos-content .box-img .cuchillo {
        width: 100%;
    }

    .bg-3 .title {
        font-size: 30px;
        line-height: 37px;
    }
    .bg-3 .subtitle {
        font-size: 24px;
        line-height: 30px;
    }

    .bg-3 .bajada {
        font-size: 14px;
        line-height: 30px;
        padding-bottom: 60px;
    }
    .box-img.quienes-somos-avatar img {
        width: 50%;
    } 
   
    .bg-4 {
        padding-top: 40px;
        /* background-image: url('../img/fondo.png'); */
    }
    .bg-4 .box-img.border {
        margin-top: 45px;
    }
    .box-numbers {
        float: none;
    }
    .bg-4.prensa .box-numbers , .bg-home-2.prensa .box-numbers.dark{
        display: block;
        float:none;
    }
    .bg-4.prensa .box-img.galeria, .bg-home-2.prensa .box-img.galeria {
        margin-bottom: 30px;
    }
    .bg-home-2.prensa .row {
        padding-bottom: 0;  
    }
    .bg-4 .title {
        padding-bottom: 0;
    }
    .bg-4 .bajada {
        min-height: 100px;
    }
    #modal-receta, #modal-prensa {
        padding: 20px;
        padding-bottom: 70px;
    }
    #modal-receta .title, #modal-prensa .title {
        font-size: 30px;
    }
    #modal-receta .subtitle, #modal-prensa .subtitle {
        font-size: 18px; 
    }
    #modal-receta .bajada, #modal-receta .lista-ingredientes, #modal-prensa .bajada  {
        font-size: 14px;
        line-height: 27px;
    }
    #modal-receta .next, #modal-prensa .next {
        text-align: center;
        padding-top: 70px;
        position: relative;
        right: 0;
    }
    #modal-receta .next a, #modal-prensa .next a {
        background-size: 13px;
    }
    .bg-5 .box-img.logo {
        display: none;
    }
    .bg-5 form {
        margin-bottom: 50px;
    }
    .content-follow {
        margin-top: 50px;
    }
    .bg-green .mt, .bg-red .mt  {
        margin-top: 50px;
    }
    .bg-home-2.prensa.tienda .box-numbers.dark {
        display: block;
    }
    footer p {
        margin: 10px 0;
    }
}

@media screen and ( max-width:640px) { 
    .jerky .box-img.ornamento {
        display: block;
    }
    .jerky .bajada {
        padding-bottom: 0;
    }
}